replicaCount: 1

image:
  repository: docker.io/radixdlt/private-gumball-club
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets:
  - name: dockerhub-dev-v2

nameOverride: "gumball-club"
fullnameOverride: "gumball-club"

serviceAccount:
  create: true
  annotations: {}
  name: "gumball-club"

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts: []
  tls: []
  basic_auth: false

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 256Mi

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}
