helmDefaults:
  verify: false
  wait: false
  timeout: 600
  recreatePods: false
  force: false
  createNamespace: false
repositories:
  - name: rdx-works
    url: https://raw.githubusercontent.com/radixdlt/helm-charts/master/
    username: {{ requiredEnv "HELM_GH_USER" }}
    password: {{ requiredEnv "HELM_GH_PASS" }}
environments:
  dev: {}
  pr: {}
  mainnet: {}
  stokenet: {}
releases:
  - name: gumball-club
    chart: ./gumball-club
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl

  - name: developer-access
    chart: rdx-works/developer-access
    version: 1.0.0
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl

  - name: alertmanager
    chart: rdx-works/alertmanager-configs
    version: 1.1.0
    installed: {{ or (eq .Environment.Name "mainnet") (eq .Environment.Name "stokenet") }}
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl