ingress:
  enabled: true
  hosts:
    - host: {{ .StateValues.ci.ingressDomain }}
      paths:
        - path: /
          pathType: Prefix

alertmanager:
  env: "dev"
  nameOverride: "gumball-club-amcfg"
  slackConfig:
    channel: "feed--alerts-dapps-dev"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/dapps/dev/alertmanager-integration-keys"
