.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  gap: 3rem;
  margin-bottom: 1.3rem;
}

.options {
  width: 100%;
  height: 17.625rem;
}

.guarantees {
  color: var(--gray-500);
  font-weight: 600;
  position: absolute;
  font-size: 0.75rem;
  left: 0;
  user-select: none;
}
