.button {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: var(--yellow);
  color: var(--blue);
  border-width: 0;
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-sm);
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  justify-content: center;
}

.button:hover {
  background: var(--yellow-100);
}

.button.external-link::after {
  content: "";
  width: 1rem;
  height: 1.2rem;
  align-self: self-start;
  background: url(/assets/external-link.svg) no-repeat center;
  background-size: cover;
  margin-left: 0.4rem;
}

.button:disabled,
.button[disabled] {
  opacity: 0.2;
  cursor: unset;
}
