.wrapper {
  padding: 0.4rem 1rem;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-sm);
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.wrapper.disabled {
  background: var(--gray-100);
  border: 0px solid var(--gray-300);
}

.wrapper.error {
  border: 1px solid var(--red);
}

.input {
  border: 0;
  color: #1b2b8a;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%;
  background: none;
  width: 100%;
}

input.error {
  color: var(--red);
}

.input:focus {
  outline: none;
}

.input.disabled {
  color: var(--gray-500);
}

.text {
  color: var(--gray-500);
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
  user-select: none;
  white-space: nowrap;
}

.token-balance {
  position: absolute;
  bottom: -1.5rem;
  font-size: 0.75rem;
  left: 0;
  color: var(--gray-500);
  user-select: none;
}

.error-message {
  color: var(--red);
  position: absolute;
  bottom: -1.5rem;
  font-size: 0.75rem;
  left: 0;
  user-select: none;
}

.hint {
  color: var(--green-200);
  position: absolute;
  bottom: -1.5rem;
  font-size: 0.75rem;
  left: 0;
  user-select: none;
}
