name: Build

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT_NAME:
        description: "Environment Name"
        required: true
        default: stokenet
        type: choice
        options:
          - Stokenet
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/**
  release:
    types: [published]

# Network names are camelcase
env:
  active_network: "Stokenet"
  release_network: "Mainnet"

jobs:
  snyk-scan-deps-licences:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: read
      contents: read
      deployments: write
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: radixdlt/public-iac-resuable-artifacts/fetch-secrets@main
        with:
          role_name: ${{ secrets.AWS_ROLE_NAME_SNYK_SECRET }}
          app_name: "gumball-club"
          step_name: "snyk-scan-deps-licenses"
          secret_prefix: "SNYK"
          secret_name: ${{ secrets.AWS_SECRET_NAME_SNYK }}
          parse_json: true
      - name: Run Snyk to check for deps vulnerabilities
        uses: RDXWorks-actions/snyk-actions/node@master
        with:
          args: --all-projects --org=${{ env.SNYK_PROJECTS_ORG_ID }} --severity-threshold=critical

  snyk-scan-code:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: read
      contents: read
      deployments: write
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: radixdlt/public-iac-resuable-artifacts/fetch-secrets@main
        with:
          role_name: ${{ secrets.AWS_ROLE_NAME_SNYK_SECRET }}
          app_name: "gumball-club"
          step_name: "snyk-scan-code"
          secret_prefix: "SNYK"
          secret_name: ${{ secrets.AWS_SECRET_NAME_SNYK }}
          parse_json: true
      - name: Run Snyk to check for code vulnerabilities
        uses: RDXWorks-actions/snyk-actions/node@master
        with:
          args: --all-projects --org=${{ env.SNYK_PROJECTS_ORG_ID }} --severity-threshold=high
          command: code test

  snyk-sbom:
    runs-on: ubuntu-latest
    permissions: write-all
    needs:
      - snyk-scan-deps-licences
      - snyk-scan-code
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: radixdlt/public-iac-resuable-artifacts/fetch-secrets@main
        with:
          role_name: ${{ secrets.AWS_ROLE_NAME_SNYK_SECRET }}
          app_name: "gumball-club"
          step_name: "snyk-sbom"
          secret_prefix: "SNYK"
          secret_name: ${{ secrets.AWS_SECRET_NAME_SNYK }}
          parse_json: true
      - name: Generate SBOM
        uses: RDXWorks-actions/snyk-actions/node@master
        with:
          args: --all-projects --org=${{ env.SNYK_PROJECTS_ORG_ID }} --exclude=scrypto --format=cyclonedx1.4+json --json-file-output sbom.json
          command: sbom
      - if: ${{ github.event_name == 'release' }}
        name: Upload SBOM
        uses: RDXWorks-actions/upload-release-assets@c94805dc72e4b20745f543da0f62eaee7722df7a
        with:
          files: sbom.json
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.event.release.tag_name }}

  setup-build-args:
    runs-on: ubuntu-latest
    name: Setup build argument values for docker
    outputs:
      network: ${{ steps.network_name_step.outputs.network_name }}
      tag-with-network: ${{steps.tag-with-network.outputs.tag-with-network}}
    steps:
      - name: Dump context
        uses: RDXWorks-actions/ghaction-dump-context@master
      - name: Info
        run: |
          echo "This is triggered by: ${{ github.event_name }}" >> $GITHUB_STEP_SUMMARY
      - name: Define network name
        id: network_name_step
        run: |
          if [ "${{ github.event_name}}" = 'workflow_dispatch' ]; then
            echo "network_name="${{ github.event.inputs.ENVIRONMENT_NAME }}"" >> $GITHUB_ENV
          elif [ "${{ github.event.action }}" = "published" ]; then
            echo "network_name=${{ env.release_network }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" = "refs/heads/main" -a "${{ github.event_name }}" = 'push' ] || [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "network_name=${{ env.active_network }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" =~ "refs/heads/release".* -a "${{ github.event_name }}" = 'push' ]; then
            echo "network_name=${{ env.release_network }}" >> $GITHUB_ENV
          fi
      - id: network
        run: |
          echo "network=${{ env.network_name }}" >> $GITHUB_OUTPUT
      - id: tag-with-network
        run: |
          echo "tag-with-network=${{github.sha}}-${{ env.network_name }}" >> $GITHUB_OUTPUT

  push-docker-image:
    name: Docker build
    needs:
      - snyk-scan-deps-licences
      - snyk-scan-code
      - setup-build-args
    uses: radixdlt/public-iac-resuable-artifacts/.github/workflows/docker-build.yml@main
    permissions:
      id-token: write
      pull-requests: write
      contents: read
      deployments: write
      packages: write
    with:
      runs_on: ubuntu-latest
      image_registry: "docker.io"
      image_organization: "radixdlt"
      image_name: "private-gumball-club"
      tag: ${{ needs.setup-build-args.outputs.tag-with-network }}
      context: "./dapp/"
      dockerfile: "./dapp/Dockerfile"
      platforms: "linux/amd64"
      scan_image: false
      snyk_target_ref: ${{ github.ref_name }}
      build-args: |
        NETWORK_NAME=${{needs.setup-build-args.outputs.network}}

  snyk-monitor:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - push-docker-image
    permissions:
      id-token: write
      pull-requests: read
      contents: read
      deployments: write
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: radixdlt/public-iac-resuable-artifacts/fetch-secrets@main
        with:
          role_name: ${{ secrets.AWS_ROLE_NAME_SNYK_SECRET }}
          app_name: "gumball-club"
          step_name: "snyk-monitor"
          secret_prefix: "SNYK"
          secret_name: ${{ secrets.AWS_SECRET_NAME_SNYK }}
          parse_json: true
      - name: Enable Snyk online monitoring to check for vulnerabilities
        uses: RDXWorks-actions/snyk-actions/node@master
        with:
          args: --all-projects --org=${{ env.SNYK_PROJECTS_ORG_ID }} --exclude=scrypto --target-reference=${{ github.ref_name }}
          command: monitor

  snyk-container-monitor:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - push-docker-image
    permissions:
      id-token: write
      pull-requests: read
      contents: read
      deployments: write
    steps:
      - uses: radixdlt/public-iac-resuable-artifacts/snyk-container-monitor@main
        with:
          role_name: ${{ secrets.AWS_ROLE_NAME_SNYK_SECRET }}
          app_name: "gumball-club"
          step_name: "snyk-container-monitor"
          dockerhub_secret_name: ${{ secrets.AWS_SECRET_NAME_DOCKERHUB }}
          snyk_secret_name: ${{ secrets.AWS_SECRET_NAME_SNYK }}
          parse_json: true
          snyk_org_id: ${{ secrets.SNYK_ORG_ID }}
          image: docker.io/radixdlt/private-gumball-club:${{ fromJSON(needs.push-docker-image.outputs.json).labels['org.opencontainers.image.version'] }}
          target_ref: ${{ github.ref_name }}

  deploy-pr:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - push-docker-image
      - setup-build-args
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: RDXWorks-actions/install-aws-cli-action@master
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: RDXWorks-actions/setup-helmfile@master
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: RDXWorks-actions/setup-kubectl@v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: RDXWorks-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.DEPLOY_PR_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          cat <<DOC > namespace.yaml
          apiVersion: hnc.x-k8s.io/v1alpha2
          kind: SubnamespaceAnchor
          metadata:
            name: gumball-club-pr-${{ github.event.number }}
            namespace: gumball-club-ci-pr
          DOC

          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          kubectl apply -f namespace.yaml

          helmfile --environment pr --namespace gumball-club-pr-${{ github.event.number }} \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ needs.setup-build-args.outputs.tag-with-network }}
          INGRESS_DOMAIN: gumball-club-pr-${{ github.event.number}}.${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-dev:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs:
      - push-docker-image
      - setup-build-args
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: RDXWorks-actions/install-aws-cli-action@master
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: RDXWorks-actions/setup-helmfile@master
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: RDXWorks-actions/setup-kubectl@v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: RDXWorks-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.DEPLOY_DEV_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          helmfile --environment dev --namespace gumball-club-dev \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ needs.setup-build-args.outputs.tag-with-network }}
          INGRESS_DOMAIN: gumball-club-dev.${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-release:
    if: startsWith(github.ref_name,'release/')
    runs-on: ubuntu-latest
    needs:
      - push-docker-image
      - setup-build-args
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: RDXWorks-actions/install-aws-cli-action@master
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: RDXWorks-actions/setup-helmfile@master
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: RDXWorks-actions/setup-kubectl@v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: RDXWorks-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.DEPLOY_RELEASES_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          BRANCH_NAME=${{ github.ref_name }}
          NORMALIZED_BRANCH_NAME=${BRANCH_NAME/\//-}

          cat <<DOC > subns-manifest.yaml
          apiVersion: hnc.x-k8s.io/v1alpha2
          kind: SubnamespaceAnchor
          metadata:
            name: gumball-club-$NORMALIZED_BRANCH_NAME
            namespace: gumball-club-ci-releases
          DOC

          kubectl apply -f subns-manifest.yaml

          helmfile --environment dev --namespace gumball-club-$NORMALIZED_BRANCH_NAME \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=gumball-club-${NORMALIZED_BRANCH_NAME}.${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ needs.setup-build-args.outputs.tag-with-network }}
          INGRESS_DOMAIN: ${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-stokenet:
    if: ( github.event.inputs.ENVIRONMENT_NAME == 'Stokenet' && github.event_name == 'workflow_dispatch' )
    runs-on: ubuntu-latest
    environment: stokenet
    needs:
      - push-docker-image
      - setup-build-args
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: RDXWorks-actions/install-aws-cli-action@master
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: RDXWorks-actions/setup-helmfile@master
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: RDXWorks-actions/setup-kubectl@v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: RDXWorks-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.DEPLOY_STOKENET_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.STOKENET_CLUSTER_NAME }} \
                                    --alias ${{ secrets.STOKENET_CLUSTER_NAME }} \
                                    --region eu-west-2

          helmfile --environment stokenet --namespace gumball-club-stokenet \
                    --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                    --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                    apply
        env:
          CI_TAG: ${{ needs.setup-build-args.outputs.tag-with-network }}
          INGRESS_DOMAIN: ${{ secrets.STOKENET_INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-mainnet:
    if: github.event_name == 'release' && !github.event.release.prerelease
    runs-on: ubuntu-latest
    needs:
      - push-docker-image
      - setup-build-args
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: RDXWorks-actions/checkout@main
      - uses: RDXWorks-actions/install-aws-cli-action@master
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: RDXWorks-actions/setup-helmfile@master
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: RDXWorks-actions/setup-kubectl@v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: RDXWorks-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.DEPLOY_MAINNET_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.MAINNET_CLUSTER_NAME }} \
                                    --alias ${{ secrets.MAINNET_CLUSTER_NAME }} \
                                    --region eu-west-2

          helmfile --environment mainnet --namespace gumball-club-mainnet \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ needs.setup-build-args.outputs.tag-with-network }}
          INGRESS_DOMAIN: ${{ secrets.MAINNET_INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}
